* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ¡Esto es crucial para que los padding no sumen altura extra! */
}

body {
    margin: 0; 
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Crea la columna: Header - Main - Footer */    
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #f8edeb;
}

main {
    display: block; /* Esto le dice al main: "tomá todo el espacio que sobra" */
    flex: 1;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 20px 10px;
    background-color: #f2e9e4;
    border-top: 1px solid black;
    flex-shrink: 0;
}

::selection {
    background-color: #c9ada7;
}

h1 {
    text-align: center;
    font-weight: normal;
    line-height: 1;
    letter-spacing: 1px;
    background-color: ;
}

h1 a {
    text-decoration: none;
    color: black;
}

/*
nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 30px;
    padding: 40px 0;
    justify-content: center;
    border-bottom: 1px solid #e0e0e0; 
}

nav a {
    text-decoration: none;
    color: #36221c;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

nav a:hover {
    color: #997c2b;
}

nav a:active {
    color: #7f4f24;
}
*/

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #f8edeb;
    height: 80px;
    border-bottom: 1px solid black;
}

nav {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center; 
    font-size: 1.5rem;
    padding: 20px 40px;
    background-color: #f8edeb;
}

nav a {
    text-decoration: none;
    color: #333533;
}

nav a:hover {
    color: #846267;
    /* text-decoration: underline; */
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {
    display: flex; 
    flex: 1; 
    max-width: 50%;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #7f5539;
    border-radius: 5px;
    background-color: #a68a64;
    color: #ede0d4; 
    transition: all 0.25s;
}

button:hover {
    background-color: #dbbe96;
    border-color: #7f5539;
    box-shadow: 0 0.5em 0.5em -0.4em #7f5539;
    color: #7f5539;
    transform: translateY(-0.25em); 
    cursor: pointer;
}

.banner_inicio {
    width: 100%;
    line-height: 0;
}

.banner_inicio img {
    width: 100%;
    height: auto;
    display: block;
}

article {
    background-color: #F2E2CE;
}

.inicio_sesion input {
    padding: 10px;
    border: 2px solid #c9ada7;
    border-radius: 5px;
    outline: none; 
    transition: border-width 0.2s, border-color 0.2s;
}

.inicio_sesion input:focus {
    box-shadow: 0 0 0 1px #997c2b;
    border-color: #997c2b; 
}

.inicio_sesion input:hover::placeholder {
    /* font-weight: bold; */
    color: rgb(63, 63, 63);
}

h2::before {
    content: "☕"; /* Insertamos el ícono desde CSS */
    margin-right: 10px;
    font-size: 1.2rem;
}

.seccion_inicio {
    width: 800px; 
}

/*
#contenedorProductos {
    margin: auto;
    width: 80%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
}

#contenedorProductos .fotoProducto {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 1px solid transparent;
}

#contenedorProductos .fotoProducto:hover {
    border: 1px solid black;
}

*/

#contenedorMenus {
    margin: auto;
    width: 80%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
}

#contenedorMenus .tarjetaMenu {
    width: 300px;
    height: 300px;
    position: relative; /* Clave: es la referencia para apilar las imágenes */
    overflow: hidden; /* Mantenemos todo limpio */
    cursor: pointer;
}

#contenedorMenus .fotoMenu {
    width: 100%; /* Ocupa todo el contenedor .tarjetaMenu (300px) */
    height: 100%;
    object-fit: cover;
    position: absolute; /* Clave: apila las imágenes una sobre otra */
    top: 0;
    left: 0;
    transition: opacity 0.4s ease; /* Efecto suave de fade in/out */
}

/* 3. ESTADOS INICIALES */
.fotoPrincipal {
    opacity: 1; /* La foto de frente está visible */
}

.fotoHover {
    opacity: 0; /* La foto de detalle está oculta */
}

/* 4. LA MÁGIA DEL HOVER (sobre el contenedor .tarjetaProducto) */
/* Cuando pasas el mouse por el contenedor, ocultamos la principal */
.fotoPrincipal:hover {
    opacity: 0;
}

/* Y mostramos la de detalle */
.fotoHover:hover {
    opacity: 1;
}

.banner-video {
    /* width: 100%;
    height: 85vh;
    overflow: hidden; */
    width: 100%; 
    height: calc(100vh - 80px);
    flex-shrink: 0;
    overflow: hidden;
}

.banner-video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media (max-width: 768px) {
    
}

#grid-categorias {
    display: grid;
    /* Achicamos un poco el tamaño mínimo para que entren más productos por fila (estilo Havanna) */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    
    /* 1. Reducimos el espacio entre ellas */
    gap: 15px; 
    
    /* 2. Le damos el ancho que querés */
    width: 70%; 
    
    /* 3. ¡El truco para centrar! (Margen arriba/abajo: 50px, Izquierda/Derecha: auto) */
    margin: 50px auto;
}

#grid-categorias p {
    font-weight: bold;
}

.item-categoria {
    text-decoration: none;
    color: #333;
    text-align: center;
    transition: transform 0.3s ease;
}

.item-categoria img {
    width: 100%;             /* Ocupa todo el ancho de su columna */
    aspect-ratio: 1 / 1;     /* ¡La magia! Le dice que la altura debe ser exactamente igual al ancho */
    object-fit: cover;       /* Evita que el café o el alfajor se vean deformados */
    border-radius: 10px;     /* Bordes redondeados para un toque suave */
}

.item-categoria:hover {
    transform: scale(1.05); /* Efecto zoom al pasar el mouse */
}



